/* This should be added to the current CSS values, not replaced! */
.implementation h2 {
  margin-top: 0px;
}

@media(max-width: 768px) {
  .implementation h2 {
    font-size: 24px;
  }

  .implementation h3 {
    font-size: 20px;
  }
}

.implementation-columns {
  display: flex;
}

@media(max-width: 768px) {
  .implementation-columns {
    flex-direction: column-reverse;
  }

  .implementation-action-buttons .hr {
    border-bottom: 1px solid;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

.implementation-coutries-list {
  flex: 1;
}

.implementation-map {
  flex: 2.5;
  margin-bottom: 30px;
}

.implementation-coutries-list span.value {
  display: inline-block;
  background-color: rgba(160,160,160,0.3);
  padding-right: 0.3em;
  padding-left: 0.3em;
  border-radius: 10%;
  color: #000;
}

.implementation-coutries-list ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 15px;
}

.implementation-coutries-list li {
    display: flex;
    padding-left: 5px;
}

.implementation-coutries-list li:hover,
.implementation-coutries-list li.active {
    background-color: #efefef;
}

.implementation-coutries-list li a {
    flex: 1;
}

.implementation-action-buttons {
  margin-bottom: 50px;
}

@media(max-width: 768px) {
  .implementation-action-buttons {
    margin-bottom: 30px;
  }
}

.implementation-action-buttons ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.implementation-action-buttons li {
    flex: 1;
}

.implementation-action-buttons li {
    margin-right: 5px;
}

.implementation-action-buttons button {
    width: 100%;
    height: 100%;
    min-height: 64px;
    border: 0px solid #999;
    color: #333;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}

.implementation-action-buttons ul.options-first-level button.btn-1,
.implementation-action-buttons ul.options-second-level button.sct-1 {
    background-color: rgba(102,145,231,0.7);
}

.implementation-action-buttons ul.options-first-level button.btn-1:hover,
.implementation-action-buttons ul.options-second-level button.sct-1:hover {
    background-color: rgba(102,145,231,0.9);
}

.implementation-action-buttons ul.options-first-level li.active button.btn-1,
.implementation-action-buttons ul.options-second-level li.active button.sct-1 {
    background-color: rgba(102,145,231,1);
}

.implementation-action-buttons ul.options-first-level button.btn-2,
.implementation-action-buttons ul.options-second-level button.sct-2 {
    background-color: rgba(224,81,200,0.7);
}

.implementation-action-buttons ul.options-first-level button.btn-2:hover,
.implementation-action-buttons ul.options-second-level button.sct-2:hover {
    background-color: rgba(224,81,200,0.9);
}

.implementation-action-buttons ul.options-first-level li.active button.btn-2,
.implementation-action-buttons ul.options-second-level li.active button.sct-2 {
    background-color: rgba(224,81,200,1);
}

.implementation-action-buttons ul.options-first-level button.btn-3,
.implementation-action-buttons ul.options-second-level button.sct-3 {
    background-color: rgba(57,187,79,0.7);
}

.implementation-action-buttons ul.options-first-level button.btn-3:hover,
.implementation-action-buttons ul.options-second-level button.sct-3:hover {
    background-color: rgba(57,187,79,0.9);
}

.implementation-action-buttons ul.options-first-level li.active button.btn-3,
.implementation-action-buttons ul.options-second-level li.active button.sct-3 {
    background-color: rgba(57,187,79,1);
}

.implementation-action-buttons ul.options-first-level button.btn-4,
.implementation-action-buttons ul.options-second-level button.sct-4 {
    background-color: rgba(214,165,64,0.7);
}

.implementation-action-buttons ul.options-first-level button.btn-4:hover,
.implementation-action-buttons ul.options-second-level button.sct-4:hover {
    background-color: rgba(214,165,64,0.9);
}

.implementation-action-buttons ul.options-first-level li.active button.btn-4,
.implementation-action-buttons ul.options-second-level li.active button.sct-4 {
    background-color: rgba(214,165,64,1);
}

.implementation-action-buttons ul.options-first-level li.active button,
.implementation-action-buttons ul.options-second-level li.active button {
    color: white;
}
